<!DOCTYPE html>
<html>
  <head>
    <title>FirstProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class= "navbar">
        <div class= "navbar-inner">
          <div class= "navbar-header">
            <h1 class= "logo">
              <a href= "/">TOKYO EVENTS </a>
            </h1>
          </div>
          <div class= "collapse navbar-collapse">
            <ul class= "nav navbar-nav navbar-right">
            <% @headerTabs.each do |tab| %>
              <li class= "dropdown">
                <%= tab.title %>
                <div class="border"></div>
                <ul class="dropdown-menu">
                <% tab.links.each do |link| %>
                  <li><%= link_to(link.title, link.url) %></li>
                <% end %>
                </ul>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Drawer -->
      <span class="hamburger">
        <div>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </span>
      <div class="drawer-nav">
        <ul class="navigation">
        <% @headerTabs.each do |tab| %>
          <h3><i class="fa fa-chevron-down fa-l"></i>　<%= tab.title %></h3>
          <% tab.links.each do |link| %>
            <li><%= link_to(link.title, link.url) %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <div class="breadcrumbs">
      <div class= "breadcrumbs-inner">
        <ul class= "breadcrumbs-list">
        <% @breadCrumbs.each_with_index do |link, index| %>
          <li>
            <% if link.title == "" %>
              <a class="breadcrumbs-link" href="<%= link.url %>"><i class="fas fa-home"></i> </a>
            <% else %>
              <a class="breadcrumbs-link" href="<%= link.url %>"> <%= link.title %> </a>
            <% end %>

            <% if index < @breadCrumbs.length - 1 %>
              <span> > </span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <main>
    <%= yield %>
    </main>
    <div class="under-breadcrumbs">
      <div class= "breadcrumbs-inner">
        <ul class= "breadcrumbs-list">
        <% @breadCrumbs.each_with_index do |link, index| %>
          <li>
            <% if link.title == "" %>
              <a class="breadcrumbs-link" href="<%= link.url %>"><i class="fas fa-home"></i> </a>
            <% else %>
              <a class="breadcrumbs-link" href="<%= link.url %>"> <%= link.title %> </a>
            <% end %>

            <% if index < @breadCrumbs.length - 1 %>
              <span> > </span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <footer>
      <div class= "footer-inner">
        <div class= "footer-top">
          <div class="row row-first">
          <% @footerTabs.each do |tab| %>
            <div class="row-index">
              <h4><%= tab.title %></h4>
              <ul>
              <% tab.links.each do |link| %>
                <li><%= link_to(link.title, link.url) %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="copyright">
              ©
              <span>2009 - 2020 </span> 
                KiRAMEX
              <span>CORPORATION.</span>
            </div>
            <div class="social-links">
              <a target="_blank" href="https://www.facebook.com/techacademy">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a target="_blank" href="https://twitter.com/techacademy">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://techacademy.jp/magazine/feed/">
                <i class="fa fa-rss"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
